<html>
    <head>
        <title>Nishitha's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>Published: July 26, 2017</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello! This is my first blog, this is super cool!</p>
        </div>

        <div>
            <p>Published: July 26, 2017</p>
            <h2><a href="">My second post</a></h2>
            <p>Hopefully I can be quite active on this page, I will try to update everyone on interesting events going on in my life :)</p>
        </div>
    </body>
</html>
